body {
  background-color: #fff;
}
.category {
  border: 1px solid #ccc;
  border-radius: 0.2rem /* 10/50 */;
  background: #ededed;
}
.category > li {
  line-height: 1.6rem /* 80/50 */;
  font-size: 0.64rem /* 32/50 */;
}
.category > li > a {
  height: 1.6rem /* 80/50 */;
  display: block;
  border-bottom: 1px solid #ccc;
  font-weight: 700;
  padding: 0 0.64rem /* 32/50 */;
  color: #000;
  position: relative;
}
.category > li > a i {
  position: absolute;
  right: 0.64rem;
  font-size: 1rem /* 50/50 */;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}
.category > li > ul {
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}
.category > li > ul.xianyin {
  display: none;
}
.category > li > ul > li {
  width: 33.33%;
  float: left;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.category > li > ul > li > a {
  display: block;
}
.category > li > ul > li:nth-child(3n) {
  border-right: 0;
}
