@charset "utf-8";
/* 样式初始化：为了保证所有的浏览器显示是一致的 */
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 给body添加通用的样式 */
body {
  font: 12px/1.5 "Microsoft YaHei", "宋体", Tahoma, Arial, sans-serif;
  color: #555;
  background-color: #f7f7f7;
}
/*去除边框*/
fieldset,
img,
input,
button,
textarea {
  border: none;
  /*去除的蓝色小边框*/
  outline-style: none;
}
/*禁止表单域缩放*/
textarea {
  resize: none;
}
a {
  text-decoration: none;
  color: #969696;
  /* 移动端a标签点击会高亮，设置颜色为透明的 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 图片自适应 */
img {
  vertical-align: middle;
}
ul,
ol,
li {
  list-style: none;
}
/* 把所有的标题的样式全部重置了 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
/* 字体图标  i:icon   bootstrap*/
em,
i {
  font-style: normal;
}
/* 提供了一些公共类 */
.fl {
  float: left;
}
.fr {
  float: right;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*单行溢出*/
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*多行溢出*/
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
* {
  padding: 0;
  margin: 0;
}
.header {
  font-size: 0.8rem /* 40/50 */;
  height: 2rem;
  text-align: center;
  color: #fff;
  line-height: 2rem;
  background: #ff841d;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  overflow: hidden;
  padding: 0 14px;
  width: 100%;
}
.header h1 {
  font-weight: 700;
}
.header .leftlogo {
  float: left;
  display: block;
}
.header .leftlogo img {
  width: 7.46rem /* 371/50 */;
  margin: 0.52rem /* 26/50 */;
}
.header .rightlogo img {
  position: absolute;
  top: 0.32rem /* 16/50 */;
  right: 0.32rem /* 16/50 */;
  width: 1.36rem /* 68/50 */;
  height: 1.36rem /* 68/50 */;
}
.form-search {
  height: 2rem;
  padding: 0.4rem /* 20/50 */;
  display: flex;
  background: #fff;
}
.form-search input {
  flex: 1;
  margin-right: 0.5rem;
  border-radius: 0.6rem /* 30/50 */;
  background: #f1f1f1;
  text-indent: 0.8rem /* 40/50 */;
  font-size: 0.64rem /* 32/50 */;
}
.form-search button {
  width: 2.56rem /* 128/50 */;
  height: 1.24rem /* 62/50 */;
  background: #ff841d;
  border-radius: 0.62rem;
  color: #fff;
  font-size: 0.64rem /* 32/50 */;
  line-height: 1.24rem;
  text-align: center;
}
.footer {
  background: #efefef;
  text-align: center;
}
.footer .footer-bottom {
  padding: 0.6rem /* 30/50 */;
  font-size: 0.36rem /* 18/50 */;
}
.footer .footer-bottom p span {
  font-size: 0.36rem /* 18/50 */;
  color: red;
}
.footer .footer-bottom p a {
  font-size: 0.36rem /* 18/50 */;
  color: #000;
}
.footer .footer-bottom p ins {
  font-size: 0.36rem /* 18/50 */;
  color: #666;
  text-decoration: none;
}
.footer ul {
  display: flex;
}
.footer ul li {
  flex: 1;
  font-size: 0.48rem /* 24/50 */;
  line-height: 1.36rem /* 68/50 */;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
}
.footer ul li:nth-child(3) {
  border-right: 0;
}
.footer ul li a {
  color: #000;
}
.footer ul li img {
  width: 0.6rem;
  height: 0.6rem;
  vertical-align: middle;
}
.recommen-tittle {
  font-size: 0.6rem /* 30/50 */;
  height: 1.4rem /* 70/50 */;
  line-height: 1.4rem;
  color: #fff;
  background-image: linear-gradient(#ffaf47, #ff9000);
  padding: 0 20px;
  overflow: hidden;
}
.recommen-tittle img {
  float: right;
  width: 0.8rem /* 40/50 */;
  margin-top: 0.3rem /* 15/50 */;
}
.recommen-tittle span {
  float: left;
}
.article {
  background-color: #fff;
  padding-bottom: 1rem /* 50/50 */;
}
.fidler {
  position: relative;
  height: 1.52rem /* 76/50 */;
  background-image: linear-gradient(#fff, #ebebeb);
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 0 0.32rem /* 16/50 */;
  line-height: 1.52rem;
  font-size: 0.6rem /* 28/50 */;
  color: #000;
}
.fidler a {
  color: inherit;
}
.fidler button {
  background-image: linear-gradient(#d7d7d7, #f5f5f5);
  box-shadow: 0 1px 2px #888;
  height: 1.12rem /* 56/50 */;
  padding: 0 0.64rem /* 32/50 */;
  border-radius: 0.2rem /* 10/50 */;
  position: absolute;
  right: 0.2rem /* 10/50 */;
  top: 0.18rem;
  font-size: 0.56rem /* 28/50 */;
}
.recommen-youhui {
  margin: 0.4rem /* 20/50 */;
  background: #f4f4f4;
  background-image: linear-gradient(#fff, #f4f4f4);
  font-size: 0.52rem /* 26/50 */;
  line-height: 1.28rem /* 30/50 */;
  text-align: center;
  height: 1.28rem /* 64/50 */;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.recommen-youhui a {
  color: #666;
}
.recommen {
  background-color: #fff;
}
.recommen ul li {
  height: 5rem /* 250/50 */;
  border-bottom: 1px solid #e7e7e7;
  padding: 0.5rem;
}
.recommen ul li a {
  display: flex;
}
.recommen ul li a .recommen-left {
  margin-right: 0.4rem /* 20/50 */;
}
.recommen ul li a .recommen-left div {
  width: 4rem /* 200/50 */;
  height: 4rem;
  overflow: hidden;
}
.recommen ul li a .recommen-left div img {
  font-size: 0.5rem /* 30/50 */;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.recommen ul li a .recommen-right {
  flex: 1;
}
.recommen ul li a .recommen-right .recommenrtop {
  font-size: 0.52rem /* 26/50 */;
  line-height: 0.8rem /* 40/50 */;
  min-height: 1.6rem /* 80/50 */ /* 134/50 */;
  margin-bottom: 0.8rem /* 40/50 */;
}
.recommen ul li a .recommen-right .recommenrtop span {
  color: #ff6c00;
}
.recommen ul li a .recommen-right .recommenrbottom {
  overflow: hidden;
  font-size: 0.45rem /* 20/50 */;
  color: #a1a1a1;
}
.recommen ul li a .recommen-right .recommenrbottom p:nth-child(1) {
  float: left;
}
.recommen ul li a .recommen-right .recommenrbottom p:nth-child(2) {
  float: right;
}
.recommen .bujiu {
  height: 1px;
}
.fenyeqi {
  text-align: center;
  overflow: hidden;
}
.fenyeqi div {
  text-align: center;
  width: 33.33%;
  float: left;
  border-radius: 0.2rem /* 10/50 */;
  line-height: 1.5rem /* 64/50 */;
  height: 1.5rem;
  margin-top: 0.4rem /* 20/50 */;
  padding: 0 0.4rem /* 20/50 */;
}
.fenyeqi div select {
  height: 100%;
  padding: 0.3rem /* 20/50 */;
  background-color: #fff;
}
.fenyeqi div a {
  display: block;
  background: linear-gradient(#f1f1f1, #d4d4d4);
  border-radius: 0.2rem /* 10/50 */;
  font-size: 0.6rem /* 20/50 */;
  color: #333;
}
.search-bar {
  background: #fff;
  overflow: auto;
}
.search-bar ul {
  height: 1.64rem /* 82/50 */;
  border-bottom: 0.2rem /* 10/50 */ solid #efefef;
  overflow: hidden;
}
.search-bar ul li {
  float: left;
  margin: 0 0.4rem /* 20/50 */;
  line-height: 1.44rem /* 72/50 */;
  font-size: 0.56rem /* 28/50 */;
  font-weight: 400;
}
.search-bar ul li a {
  color: #333;
}
.showban {
  position: relative;
  background-color: #fff;
}
