.header {
  background-color: #f4483e;
}
.article ul {
  padding-top: 0.2rem /* 20/50 */;
  overflow: hidden;
}
.article ul li {
  float: left;
  height: 3rem /* 150/50 */;
  width: 4.8rem /* 240/50 */;
  border: 1px solid #eee;
  overflow: hidden;
  text-align: center;
  margin: 0.2rem /* 10/50 */ 0.1rem /* 5/50 */;
}
.article ul li a {
  display: block;
  height: 100%;
}
.article ul li p {
  color: #000;
  font-size: 0.56rem /* 28/50 */;
}
