.article {
  padding: 0.16rem /* 8/50 */ 0.4rem /* 20/50 */;
}
.article .moneyproduct-tittle h3 {
  font-size: 0.72rem /* 36/50 */;
  margin: 0.4rem /* 20/50 */ auto 0.2rem /* 10/50 */;
  font-weight: 800;
  text-align: left;
  text-align-last: left;
  word-break: break-all;
  color: #5a5a5a;
  line-height: normal;
}
.article .moneyproduct-top {
  margin: 0.48rem /* 24/50 */ auto;
  color: #999;
  font-size: 0.48rem /* 24/50 */;
}
.article .moneyproduct-top span:nth-child(2) {
  margin: 0 0.25rem /* 10/50 */;
}
.article .moneyproduct-img {
  width: 4.8rem /* 240/50 */;
  float: right;
  height: 4.8rem /* 240/50 */;
  font-size: 0.56rem /* 28/50 */;
}
.article .moneyproduct-img img {
  width: 4.8rem /* 240/50 */;
  height: 4.8rem /* 240/50 */;
}
.article .moneyproduct-coin {
  font-size: 0.56rem /* 28/50 */;
  padding-bottom: 0.8rem /* 40/50 */;
  line-height: 0.96rem /* 48/50 */;
  color: #606060;
}
.article .moneyproduct-area ul {
  width: 5.44rem /* 272/50 */;
  padding: 0 0.4rem /* 20/50 */;
  margin: 0 auto;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
.article .moneyproduct-area ul li {
  font-size: 0.48rem /* 24/50 */;
  margin: 0 auto;
  width: 4.64rem /* 232/50 */;
  font-family: "Microsoft Yahei";
  line-height: 0.8rem /* 40/50 */;
  padding: 0 0.4rem /* 20/50 */;
  border-bottom: 1px dotted silver;
  overflow: hidden;
}
.article .moneyproduct-area ul li a {
  float: left;
  color: #000;
}
.article .moneyproduct-area ul li em {
  color: #f27b04;
  float: right;
}
.article .moneyproduct-goumai {
  margin: 0.4rem /* 20/50 */;
  background-image: linear-gradient(#fff, #f4f4f4);
  font-size: 0.52rem /* 26/50 */;
  line-height: 1.28rem /* 30/50 */;
  text-align: center;
  height: 1.28rem /* 64/50 */;
  border: 1px solid #ddd;
  background: #ff9000;
  border-radius: 0.16rem /* 8/50 */;
}
.article .moneyproduct-goumai a {
  color: #fff;
}
.article .moneyproduct-imged {
  text-align: center;
  margin: 0.8rem /* 40/50 */ 0 /* 20/50 */;
}
.article .moneyproduct-imged img {
  width: 100%;
  height: auto;
}
.article .moneyproduct-pinglun p {
  color: #000;
  font-size: 0.64rem /* 32/50 */;
  padding: 0.3rem /* 12/50 */ 0 /* 16/50 */;
}
.article .moneyproduct-pinglun form {
  border: 2px solid #eceae8;
  position: relative;
  border-radius: 2px;
}
.article .moneyproduct-pinglun form textarea {
  width: 100%;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  line-height: 22px;
  font-size: 0.56rem /* 28/50 */;
  outline: 0;
  color: #666;
  height: 2.8rem /* 140/50 */;
  padding: 0.2rem /* 10/50 */;
}
.article .moneyproduct-pinglun form div {
  position: relative;
  height: 1.56rem /* 78/50 */;
  background-color: #fbfbfb;
}
.article .moneyproduct-pinglun form div button {
  background: #ff841d;
  border: none;
  border: 2px solid #ff841d;
  padding: 0;
  width: 4rem /* 200/50 */;
  height: 1.56rem /* 78/50 */;
  color: #fff;
  outline: 0;
  border-radius: 0 0 0.08rem 0 /* 4/50 */;
  font-size: 0.64rem /* 32/50 */;
  position: absolute;
  right: 0;
  bottom: 0;
}
.article .moneyproduct-newlun .moneyproduct-ilist {
  color: #000;
  font-size: 0.64rem /* 32/50 */;
  padding: 0.3rem /* 12/50 */ 0 /* 16/50 */;
}
.article .moneyproduct-newlun .moneyproduct-ulist {
  padding: 0.72rem /* 36/50 */ 0.4rem /* 20/50 */;
  background-color: #fff;
  display: flex;
}
.article .moneyproduct-newlun .moneyproduct-ulist img {
  width: 1.6rem /* 80/50 */;
  background-position: top;
  border-radius: 0.8rem /* 40/50 */;
  height: 1.6rem /* 80/50 */;
  border-radius: 50%;
}
.article .moneyproduct-newlun .moneyproduct-ulist div {
  margin-left: 0.2rem /* 10/50 */;
  flex: 1;
}
.article .moneyproduct-newlun .moneyproduct-ulist div div:nth-child(1) {
  font-size: 0.48rem /* 24/50 */;
  margin-bottom: 0.12rem /* 12/50 */;
  overflow: hidden;
}
.article .moneyproduct-newlun .moneyproduct-ulist div div:nth-child(1) p {
  float: left;
  color: #5997c0;
}
.article .moneyproduct-newlun .moneyproduct-ulist div div:nth-child(1) em {
  float: right;
  color: #999;
}
.article .moneyproduct-newlun .moneyproduct-ulist div div:nth-child(2) {
  font-size: 0.56rem /* 28/50 */;
}
